.one{
    height: 50px;
    width: 70px;
    color: aqua;
    border: black;
}
.two{
    height: 50px;
    width: 70px;
    color: burlywood;
    border:black;
}
.three{
    height: 50px;
    width: 70px;
    border: rgb(226, 107, 107);
    color: rgb(28, 23, 32);
}
footer{
    font-size: 14;
    color: blueviolet;
    font-weight: bold;
}
